* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
/* 
.container {
    width: 100%;
    height: 100vh;
    background-color: transparent;
    position: relative;
} */

.form-box {
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: black;
    padding: 50px 60px 70px;
    text-align: center;
}

.form-box h1 {
    font-size: 30px;
    margin-bottom: 60px;
    color: goldenrod;
    position: relative;
    font-weight: bold;
}

.form-box h1::after {
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: goldenrod;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.input-field {
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
}

.input-field input {
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
    font-size: 15px;
    
}

.input-field i {
    margin-left: 15px;
    color: #999;
}

.btn-field {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.btn-field button {
    flex-basis: 48%;
    background: goldenrod;
    color: black;
    height: 40px;
    border-radius: 10px;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
    font-weight: bold;
    font-size: 15px;
}

.btn-field button.disable {
    background: #eaeaea;
    color: #555;
    cursor: not-allowed;
}
