 * {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    color: #fff;
}

header {
    background-color: #583192;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 80px;
    margin-right: 10px;
}

#searchInput {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    width: 250px;
    margin-left: 20px;
}

#searchInput:focus {
    outline: none; 
    border-color: #583192;
}

.search-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.search-btn:hover {
    background-color: #9f85bb;
    border-radius: 15px;
}

.search-btn img {
    height: 40px;
    width: 40px;
}

.user-btn {
    background-color: goldenrod;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 10px;
    display: flex;
    align-items: center;
}

.user-btn img {
    height: 30px;
    width: 30px;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
    position: relative;
}
nav ul.registration {
    margin-right: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    font-weight: bold;
}

nav ul li a:hover {
    background-color: black;
}


.btn-cart {
    border-radius: 5px;
    width: 70px;
    height: 50px;
    background-color: goldenrod;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.btn-cart:hover {
    background-color: gray;
}

.btn-cart img {
    width: 30px;
    height: 30px;
}

.cart-notification {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: gold;
    color: black;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
}

#featured {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 5%;
    justify-content: center;
}

article {
    background-color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    width: 200px;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

article img {
    width: 100%;
    height: auto;
}

article h2 {
    font-size: 1.23em;
    margin-bottom: 10px;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    padding: 10px 0;
}

.btn-add {
    border-radius: 5px;
    width: 40px;
    height: 40px;
    background-color: goldenrod;
    display: inline-block;
    cursor: pointer;
}

.btn-add:hover {
    background-color: gray;
}

.btn-add img {
    width: 20px;
    height: 20px;
}

.price {
    font-size: 1.2em;
    font-weight: bold;
    color: rgb(255, 183, 0);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #1e1e1e;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 5px;
    position: relative;
}

.close {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: #888;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-footer {
    margin-top: 20px;
    text-align: right;
}

.btn-primary {
    font-weight: bold;
    font-size: large;
    background-color: goldenrod;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: greenyellow;
}

.btn-secondary {
    font-size: large;
    font-weight: bold;
    background-color: red;
    border-radius: 5px;
}

.cart-items li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.cart-items li img {
    width: 60px;
    height: auto;
    margin-right: 10px;
}

.cart-items li .item-details {
    flex-grow: 1;
}

#cart-total {
    padding: 5px;
    background-color: #ccc;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.remove-btn {
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  padding: 0;
}

.remove-btn span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: goldenrod;
  font-weight: bold;
}

.remove-btn span:hover {
    padding: 10px;
    background-color: #333;
    border-radius: 10px;
}



/* Signup/Signin Modal */
.form-box {
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: black;
    padding: 50px 60px 70px;
    text-align: center;
}

.form-box h1 {
    font-size: 30px;
    margin-bottom: 60px;
    color: goldenrod;
    position: relative;
    font-weight: bold;
}

.form-box h1::after {
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: goldenrod;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.input-field {
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
}

.input-field input {
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
    font-size: 15px;
}

.input-field i {
    margin-left: 15px;
    color: #999;
}

.btn-field {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.btn-field button {
    flex-basis: 48%;
    background: goldenrod;
    color: black;
    height: 40px;
    border-radius: 10px;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
    font-weight: bold;
    font-size: 15px;
}

.btn-field button.disable {
    background: #eaeaea;
    color: #555;
    cursor: not-allowed;
}
.signup-close {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    color: #888;
}